@using React.AspNet
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
  {
    <title>@ViewBag.Title</title>
    <meta name="twitter:title" property="og:title" content="@ViewBag.Title" />
  }

  <meta property="og:site_name" content="Url Metadata API" />
  <meta name="twitter:domain" content="@(Context.Request.Scheme + "://" + Context.Request.Host)" />

  @if (!string.IsNullOrWhiteSpace(ViewBag.Description))
  {
    <meta name="description" content="@ViewBag.Description">
    <meta name="twitter:description" property="og:description" content="@ViewBag.Description" />
  }

  @if (!string.IsNullOrWhiteSpace(ViewBag.Image))
  {
    <meta name="twitter:image" property="og:image" content="@Url.Content(ViewBag.Image)">
  }

  <meta name="author" content="Jamie Pennell">

  <meta name="theme-color" content="#8D99AE" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.min.css" rel="stylesheet" />
  <link href="~/css/styles.css" rel="stylesheet" />

  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7067007376436313",
      enable_page_level_ads: true
    });
    (adsbygoogle = window.adsbygoogle || []).requestNonPersonalizedAds = 1;
  </script>
</head>
<body>
<header class="header">
  <div class="section max-width">
    <a href="/">
      <h1>
        <i class="site-icon icon"></i>
        Url Metadata API
      </h1>
    </a>
  </div>
</header>
<div class="body-content">
  @RenderBody()
</div>
<footer>
  <div class="section max-width">
    Built by Jamie Pennell
  </div>
</footer>

<script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=default,fetch"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js" data-manual></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-json.min.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react/16.8.0/umd/react.development.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.8.0/umd/react-dom.development.js"></script>
<script crossorigin="anonymous" src="https://cdnjs.cloudflare.com/ajax/libs/bowser/1.9.4/bowser.min.js"></script>  

<script src="@Url.Content("~/js/main.jsx")"></script>
@Html.ReactInitJavaScript()
</body>
</html>